$bns-image: asset-path('bns_logo.jpg');
$ishgal-image: asset-path('logo.svg');

body {
  background-color: black;
}

.navbar-form-margin {
  padding-top: 7px;
  padding-right: 30px;
  padding-left: 30px;
}
