<nav class="navbar navbar-inverse bg-inverse">
  <div class="navbar-header navbar-brand">
    <div class="logo-image">
    </div>
  </div>
  <div class="navbar-nav navbar-right">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "Events" %>
      </li>
      <li>
        <%= link_to "Sign in" %>
      </li>
      <li>
        <%= link_to "Sign up" %>
      </li>
      <li>
        <%= link_to "About" %>
      </li>
      <li>
        <form class="form-inline navbar-form-margin">
          <input class="form-control mr-sm-2" type="text" placeholder="Search for events"/>
          <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
